.personal-data{
    width: 100%;
    display: flex;
    margin-bottom: 81px;
}
.personal-data .personal-data-item{
    width: 50%;
}
.personal-data .personal-data-item:first-child {
    margin-right: 30px;
}
.personal-data .personal-data-item > div{
    width: 100%;
}
.personal-data .personal-data-item > div label {
    display: block;
    width: 100%;
    color: #32405B;
    letter-spacing: -0.06px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 32px;
}
.personal-data .personal-data-item > div input {
    background: #ECF0F3;
    padding: 13px;
    width: calc(100% - 30px);
    border:none;
    color: #BABABA;
}
.personal-data .personal-data-item > div input::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0px;
    letter-spacing: -0.06px;
    color: #BABABA;
}

