
<div id="header" :style="{paddingBottom: isMenu ?  0: '22px'}">
    <div class="header-container" >
         <div class="header-menu all-center" @click="isMenu = !isMenu">
              <div class="container-menu">
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
         </div>
         <div class="cruiser-name pointer" @click="$router.push('/')">
             <span>Cruiser</span><span>Addiction</span>
         </div>
         <div class="search" >
             <div class="info all-center">i</div>
             <div class="info-middle"></div>
             <input
                 type="search"
                 v-model="searchText"
                 @keypress.enter="changeValueSearch($event)"
                 @change="changeValueSearch($event)"
                 placeholder="Search by Part Number">
         </div>
         <div class="multi-currency" >
             <div class="currency">ENG</div>
             <div class="multi-currency-middle"></div>
             <div class="currency">USD</div>
         </div>
        <div class="menu-other basket-menu pointer" @click.self="toggleBasket()">
            <div class="badge all-center">{{count}}</div>
            <basket
                v-if="isBasketOpen"
                @refresh="refreshDataInBasket($event)">
            </basket>
        </div>
        <div class="menu-other profile-menu pointer"
             @click="(openPopub = !openPopub,isMenu = false)">
            <app-auth-popub
                id="popub-auth"
                :class="openPopub && 'active'"
                :openPopub="openPopub"
                @closeSmallPopub="closeSmall($event)">
            </app-auth-popub>
        </div>
    </div>
    <div class="menu-page" v-if="isMenu">
        <div class="menu-page-container">
            <a
                class="link pointer"
                v-for="item in menu_page"
                @click.prevent="(isMenu = false, $router.push(item.path))"
                :key="item.name">
                {{item.name}}
            </a>
        </div>
    </div>
</div>

