
<ul class="tab-component">
    <li v-for="(item, index) in items"
        @click="activeTab(index)">
        <div class="close" :class="item.active ? 'true' : ''">
            <div class="title">Feb 14, 2019 Order: 0124</div>
            <div class="total-accord">
                <div>Total: <span style="font-weight: bold">$390.25</span></div>
                <div style="margin-left: 30px">Status: <span class="badge red">SHIPPED</span></div>
            </div>
        </div>
        <div class="active" :class="item.active ? 'true' : ''">
            <div>Information about order:</div>
            <div>Order List:</div>
        </div>
    </li>
</ul>

