<section class="auth-small-popub">
    <div v-if="!isAutorize" class="auth-small-popub-container">
        <div class="auth-small-popub-container-auth">
            <div class="cart-auth"></div>
            <div class="popub" @click="toStore(true, 'loginModal')">Log in</div>
        </div>
        <div class="auth-small-popub-container-auth-or">or</div>
        <div class="auth-small-popub-container-auth">
            <div class="cart-auth cart-auth-register"></div>
            <div class="popub" @click="toStore(true, 'registerModal')">Register</div>
        </div>
    </div>
    <div v-if="isAutorize" class="auth-small-popub-container">
        <div class="auth-small-popub-container-auth">
            <!--<div class="cart-auth"></div>-->
            <div class="popub" @click="logout()">Log out</div>
        </div>
        <div class="auth-small-popub-container-auth-or">or</div>
        <div class="auth-small-popub-container-auth">
            <!--<div class="cart-auth cart-auth-register"></div>-->
            <div class="popub" @click="toAccount()">Account</div>
        </div>
    </div>
</section>

