#footer {
    background: #ECF0F3;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 44px 0;
}
.menu-navigations{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #32405B;
    display: flex;
}
.footer-container{
    position: relative;
    display: flex;
    align-items: center;
}
.menu-navigations div{
    margin-right: 20px;
}
.cruiser-name{
    margin-right: 120px;
}
.menu-navigations{
    margin-right: 150px;
}
.all-right{
    color: #32405B;
    display: flex;
    align-items: center;
}
.right-middle{
    width: 1px;
    height: 27px;
    background: #CA4635;
}
.all-right div:first-child, .right-middle{
    margin-right: 30px;
}
.leave-message {
    position: absolute;
    top: -82px;
    display: flex;
    margin: 0 40px;
    cursor: pointer;
}
.picture-leave-message{
    width: 32px;
    max-width: 32px;
    height: 38px;
    max-height: 38px;
    border-top-right-radius: 46%;
    border-top-left-radius: 46%;
    background-color: white;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    background-image: url("./../../../assets/leave-message.svg");
}
.picture-leave-message div{
    width: 100%;
    height: 14px;
}
.picture-leave-message div:before, .picture-leave-message div:after{
    content: '';
    display: inline-block;
    width: 4px;
    height: 13px;
    background: #CA4635;
    position: relative;
    top: -10px;
}
.picture-leave-message div:after{
    right: -24px;
}
.text-leave-message{
    background: #32405B;
    width: 0px;
    height: 22px;
    max-width: 120px;
    max-height: 22px;
    padding: 3px 7px;
    margin-left: -20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    justify-content: flex-end;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11.181px;
    color: #FFFFFF;
    z-index: -1;
    margin-top: 5px;
    transition: 1s width;
}
.leave-message:hover > .text-leave-message{
    width: 120px;
}
